
/* Navigation bar and referance links*/
.navBar{
  background-color: #e6e6e6;
  font-size: 30px;
  font-family: 'Courier', Courier, monospace;
  padding: 10px;
  margin: 10px;
}

/* standard format for links accross cite*/
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

body{
  background-color: #afcccc;
  margin: 10px;
  height: 99%;
  width: 99%;
}

.body{
  font-family: 'Courier', Courier, monospace;
  background-color: whitesmoke;
  padding: 20px;
  margin: 10px;
}

.bodyHome{
  font-family: 'Courier', Courier, monospace;
  background-color: whitesmoke;
  padding: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
}

p.test{
  float: left;
}

div {
  display: block;
  unicode-bidi: isolate;
}

p.text{
  align-content: center;
  margin: 2px;
  padding: 2px;
  float: none;
}

.scroll-option{
  margin: 5px;
  padding: 5px;
  overflow: auto;
}

.game-board{
  margin: 5px;
  padding: 5px;
  height: 600px;
  width: 835px;
  position: relative;
  overflow: auto;
  background-image: url(blankCPU.jpeg);
  background-size: cover;
}

.move-image{
  width: 100px;
  height: 100px;
  opacity: 100%;
}

.start{
  background-color: #e6e6e6;
  width: 105px;
  height: 105px;
  padding: 5px;
  margin: 5px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Formating for droop locations and sizes */
.droped{
  background-color: #e6e6e6;
  width: 105px;
  height: 105px;
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Fixed locations for all dropable squares */
#drop1{
  position: absolute;
  top: 432px;
  left: 34px;
}

#drop2{
  position: absolute;
  top: 99px;
  left: 37px;
}

#drop3{
  position: absolute;
  top: 74px;
  left: 398px;
  height: 130px;
  width: 130px;
}

#drop4{
  position: absolute;
  top: 262px;
  left: 407px;
}

#drop5{
  position: absolute;
  top: 415px;
  left: 407px;
}