
/* Navigation bar and referance links*/
.navBar{
  background-color: #e6e6e6;
  font-size: 30px;
  font-family: 'Courier', Courier, monospace;
  padding: 10px;
  margin: 10px;
}

/* standard format for links accross cite*/
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

.main-body{
  background-color: #afcccc;
  margin: 10px;
  height: 99%;
  width: 99%;
}

.body{
  font-family: 'Courier', Courier, monospace;
  background-color: whitesmoke;
  padding: 20px;
  margin: 10px;
}

p.test{
  float: left;
}

div {
  display: block;
  unicode-bidi: isolate;
}

p.text{
  align-content: center;
  margin: 2px;
  padding: 2px;
  float: none;
}

.scroll-option{
  margin: 5px;
  padding: 5px;
  overflow: auto;
}

.game-board{
  margin: 5px;
  padding: 5px;
  overflow: auto
}

.move-image{
  width: 100px;
  height: 100px;
}

.start{
  background-color: #e6e6e6;
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 5px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.droped{
  background-color: #e6e6e6;
  width: 200px;
  height: 200px;
  padding: 5px;
  margin: 5px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}